#testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  h1 {
    position: relative;
    margin-bottom: 50px;
  }

  .jumbotron {
    position: relative;
    border: 1px solid white;
    height: 350px;
  }
}